.ios, .md {

  page-weekstats {

        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: normal;
            font-size: 12px;
        }

        ion-textarea {
          font-size: 12px;
        }

        ion-col{

          font-size: 10px !important;
          margin: 0 !important;
          padding: 5px 10px !important;
          width: 100% !important;

          ion-select {
            background-color: #FFFFFF !important;
            margin: 0 !important;
            width: 100% !important;
            margin: 0px !important;
          }

        }

    }

}
